*, html, body{
	margin: 0; padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}


.topbar{
	float: left;
	width: 100%;
	height: 40px;
	background-color: #222;
	padding: 5px 30px;
	color: #999;
	font-size: 14px;

}

.topbar i{
	color: #C71585;
	font-size: 16px;
	cursor: pointer;
}

.topbar i:hover{
	color: white;
}
.details{
	float: left;
	padding: 5px 20px;
}


.social{
	float: right;
	padding: 5px;
}
.navbar{
	width: 100%;
	display: flex;
	align-items:center;
	padding-left: calc(50% - 480px);
	font-weight: bold;
	background-color: white;
	transition: 0.3s;
	z-index: 100;
	border-bottom: 1px solid #ddd;
}
.nav-logo img{
	width: 200px;
}

.nav-link{

}
.nav-link ul{
	margin: 0; padding: 0; display: flex;
	margin-left: 20px;

}
.nav-link li {
	list-style: none;
}
.nav-link li a:hover{
	color: #C71585;
}
.nav-link li a{
	text-decoration: none;
	display: block;
	padding: 30px 15px;
	color: black;
}

.nav-link .getqoute{
	color: white;
	border-radius: 5px;
	background-color: rgb(199,21,133);
	padding: 15px 40px;
	margin: 15px 0px;
}
.nav-link .getqoute:hover{
	background-color: #333;
}


.toggle-button{
	display: none;
	float: right;
	position: absolute;
	top: 1.2rem;
	right: 1rem;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 30px;
}

.toggle-button .bar{
	height: 5px;
	width: 100%;
	background-color: black;
	border-radius: 10px;
	z-index: 100;
}

header{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/header.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30vh 0px;
}

.flexbox{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flexbox > div{
	text-align: center;
	color: white;
}
.flexbox .caption{
	font-size: clamp(20px, 5vw, 52px);
	margin-bottom: 1rem;
	color: white;
}

.flexbox .subcaption{
	font-size: clamp(14px, 3vw, 24px);
	margin-bottom: 1rem;
	text-shadow: 1px 1px 1px black;
}
.myheader-button-1{
	background-color: rgba(0,0,0,0.5);

	cursor: pointer;
}
.myheader-button-1:hover{
	background-color: rgba(255,255,255,0.5);;
}
.myheader-button-2{
	background-color: #C71585;
	border: 2px solid white;
	cursor: pointer;
	}
section{
	padding-top: 50px;
	padding-bottom: 50px;
	float: left;
	width: 100%;
}


.container{
	
	max-width: 1100px;
	margin-left: calc(50% - 550px);
}


.grid{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	margin-top: 30px;
}

.grid > div{
	margin: 5px;
}

.nested{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	justify-items: center;
}

.nested > div{
}

.nested img{
	width: 100%;
}


.advertise{
	padding-bottom: 80px;
	background-image: url('../img/outdoorgarden.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

button{
	background-color: #C71585;
	color: white;
	border: none;
	border-radius: 3px;
	padding: 15px 30px;
	margin: 5px;
	font-weight: bold;
	cursor: pointer;
	border: 2px solid white;
}
button:hover{
	background-color: #333;
	color: #C71585;

}
.happy-clients{
	background-image: url('../img/testimonial_bg.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-items: center;
}

.footer{
	background-color: #333;
}


.footer img{
	display: table;
	width: 200px;
	justify-item: center;
	margin: auto;
}

.footer h2, .footer p, .footer table{
	color: white;
}


.footer i{
	float: left;
	margin-top: 20px;
	font-size: 50px;
	color: white;
}
.footer i:hover{
	color: black;
	cursor: pointer;
}

.footer td{
	min-width: 100px;
	padding-top: 20px;
}

.footer tr{
}



footer{
	display: block;
	text-align: left;
	background-color: #222;
	float: left;
	width: 100%;
	height: 60px;
}

footer p{
	padding: 20px;
}

#gotop{
	bottom: 50px;
	right: 10px;
	position:fixed;
	font-size: 20px;
	background-color: #C71585;
	width: 40px; height: 40px;
	padding-top: 3px;
	border-radius: 20px;
	text-align: center;
	color: white;
	transition: 0.5s;
}