@media (max-width: 1000px){
	.navbar{
		padding: 10px;
		width: 100%;
		flex-direction: column;
	}
	.nav-logo{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	
	.topbar{
		display: none;
	}
	.toggle-button{
		display: flex;
	}
	.nav-link{
		display:none;
		transition: 0.3s;
	}
	.nav-link ul{
		flex-direction: column;
		margin: 0;
	}
	.nav-link li{
		text-align: center;
	}
	.nav-link li a{
		padding: 1rem 0rem;
	}
	
	.nav-link .getqoute{
		width: 300px;
	}
	
	.nav-link.active{
		display: flex;

	}
	header{
		padding-top: calc(20vh - 40px;);
	}
	
}

@media (max-width: 1100px){
	.container{
		margin-left: 0;
		width: 100%;
	}
}

@media (max-width: 900px){
	.grid{
		grid-template-columns: repeat(2,1fr);	
	}
}

@media (max-width: 600px){
	.grid{
		grid-template-columns: repeat(1,1fr);
	}
}

