@media (max-width: 991px){
		[grid-3]{
		grid-template-columns: repeat(2, 1fr);
	}
	.grid-4{
		grid-template-columns:  repeat(3, 1fr);
	}
}

@media (max-width: 768px){	
	[flex]{
		flex-direction: column;
	}
	header{
		grid-template-columns: repeat(1, 1fr);
	}
	
	[grid-2]{

	grid-template-columns: repeat(1, 1fr);
	}
	.navbar{
		flex-direction: column;
	}
	.navbar-title{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}
	.navbar-menu{
		flex-direction: column;		
		width: 100%;
		display: none;
	}
	.navbar-title > div > i{
		display: flex;
	}
	[grid-3]{
		grid-template-columns: repeat(1, 1fr);
		
	}
}
@media (max-width: 600px){
	.grid-4{
		grid-template-columns:  repeat(2, 1fr);
	}

}