@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@500&display=swap');
h1{
	font-family: 'Sansita Swashed', cursive;
	font-size: 3rem;
	padding: 20px;
}
h2{
	font-family: 'Playfair Display', serif;
	font-style: italic;
	padding: 10px 20px;

}
h3{
	font-family: 'Playfair Display', serif;
	color: #555;
	text-align: center;
	padding: 30px;
}
h4{
}
h5{

}
h6{
}
p{
	font-family: 'Piazzolla', serif;
	padding: 20px;
}
pre{	
}
