[grid-special-1]{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 20px 0px;
	align-items: center;
	width: 100%;
}
[grid-special-1] > div:nth-child(1){
	width: 70%;
	justify-self: right;
}

[grid-special-1] > div:nth-child(2){
	width: 100%;
	justify-self: center;
}

[grid-special-1] > div:nth-child(3){
	width: 70%;
	justify-self: left;
}

[grid-special-2]{
	display: grid;
	grid-template-columns: 3fr 4fr 5fr;
	align-items: end;
	margin: 20px 0px;	
}
[grid-special-2] > div:nth-child(1){
}
[grid-special-2] > div:nth-child(2){
}
[grid-special-2] > div:nth-child(3){
	
}

[grid-3]{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
	padding: 2rem;
	
}
[grid-3] > div{
	border-radius: 5px;
	border: 1px solid #ddd;
}
[grid-3] > div:hover{
	
}
[grid-3] > div > img{
	border-radius: 5px 5px 0px 0px;
	width: 100%;
}
[flex]{
	display: flex;
	flex-direction: row;
	justify-contents: space-between;
	
}
[flex] > div{
	
}
[flex] > a{
	margin-left: auto;
	align-self: flex-end;
}

[grid-2]{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 20px;
	grid-gap: 20px;
}