@import "global.scss";

html, body {
    padding: 0;
    margin: auto;
}
html{
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    background: white;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    &::-webkit-scrollbar {
            display: none;
        }
}
body {
    position: relative;
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

aside{
    width: 30%;
    min-width: 350px;
    // position: sticky;
    background-image: linear-gradient(250deg, #155ec1, #247ef9, #4391ff);
    .container{
        padding: 20px;
        position: sticky;
        position: -webkit-sticky;
        top: calc(50vh - 279px);
        // top: 50px;
        max-width: 350px;
        margin: auto;
    }
}

main{
    
    padding-top: 50px;
    width:70%;
    background: white;
    .container{
        // background: #bbb;
        // position: relative;
        max-width: 960px;
        margin: auto;      
    }
}

section{
    h2 {
            text-align: center;
            font-size: 3rem;
            margin-bottom: 0;
        }
}

@media(max-width: 746px){
    body{
        flex-direction: column;
        margin: 0; padding: 0;
        overflow: hidden;
    }
    aside{
        width: 100vw;
        min-width: auto;
        position:relative;
        margin: 0;
        height: 100vh;
    }
    main{
        width: 100%;
    }
    section{
        min-height: calc(100vh - 50px);

    }
}

@import "profile.scss";
@import "portfolio.scss";
@import "back-to-top.scss";
@import "button-cool.scss";

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.grid-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    >div{
        padding: 10px;
        border: 1px solid #ddd;
    }
}

@media(max-width: 950px){
    .grid-4{
        grid-template-columns: 1fr 1fr;
    }
}

.flex-skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
    .img{
        height: 30px;
    }
    .text{
        font-size: 1rem;
        margin: 0;
    }
}

.modal-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(0,0,0,0.6);
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    .modal-dialog{
        display: grid;
        grid-template-columns: 1fr;
        vertical-align: middle;
        margin: 20px;
        padding: 20px;
        width: 100%;
        max-width: 350px;
        background: white;
        text-align: center;
        border-radius: 10px;
        .btn{
            border: 2px solid white;
            color: white;
            &:hover {
                background: var(--secondary);
            }
        }
    }
}

.filter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.filter-links {
    button{
    border: 1px solid black;
    background: none;
    border: none;
    cursor: pointer;
    &:hover, &:active, &:focus{
        background: var(--primary);
            color: white;
        }
    }
}

[arial-hidden='true']{
    display: none;
}

@keyframes hidePortfolio {
    0%{transform: scale(1); opacity: 1;}
    100%{transform: scale(0); opacity: 0;}

}
@keyframes showPortfolio {
    0% {
        transform: scale(0);
        opacity: 0
    }

    100% {
        transform: scale(1);
        opacity: 1
    }

}

// for scroll animation
[data-scroll] {
    transition: all 1000ms;
}

[data-scroll="in"] {
    opacity: 1;
    transform: translateY(0);
}

[data-scroll="out"] {
    opacity: 0;
    transform: translateY(100px);
}